<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        *{
            background-color: cornsilk;
            text-align: center;
        }
        .login{
            text-align: center;
        }
        .form{
            margin-top: 20px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container py-5 login">
        <h1>Login</h1>
        <hr>
        <form method="POST" class="form">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Login</button>
        </form>
    </div>
    Don't Have an Account?<a href="/register">SignUp</a>
</body>
</html>